extends layout

block content
  h1= title
  p Welcome to the #{title}!
    table(id="scoreTable" class="table")
      thead
        tr
          th(scope="col") Name
          th(scope="col") Score
      tbody
        tr
          td Example Name
          td 120000
    script.
      $(document).ready(function () {
        $('#scoreTable').DataTable(
                {
                  ajax: 'localhost:3000/data'
                }
        );
      });
  form(action="#" onsubmit="send()")
    div.form-group
      label(for="nameInput") Name:
      input(type="text" class="form-control" id="nameInput" placeholder="Name")
      br
      label(for="scoreInput") Score:
      input(type="number" class="form-control" id="scoreInput" placeholder="Score")
    button(type="submit" class="btn btn-primary") Submit
  button(class="btn btn-primary" onclick="test(\"moi\")")